<div class="well">     <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>   </div>
<div>
  <table class="table table-bordered">
  <thead>
  <tr>
  <th>Category</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>
    <% @categories.each do |category|%>
      <%= render category%>
    <%end%>

  </td>

  </tr>
  </tbody>
  </table>
</div>