<p> Caregory page</p>
<div>
  <table class="table table-bordered">
  <thead>
  <tr>
  <th>Category</th>
  <th>Time created</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>
    <% @categories.each do |category|%>
      <%= render category%>
    <%end%>

  </td>

  </tr>
  </tbody>
  </table>
</div>